# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.env
*.db

# Django
backend/staticfiles/
backend/media/
*.pyc

# Node/React
frontend/node_modules/
frontend/.env
frontend/dist/
frontend/build/

# Virtual environment
venv/
env/

# VSCode
.vscode/

# macOS
.DS_Store

# Docker
*.pid
*.sock
*.tar
*.log
*.out

# Others
*.swp
